include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/user_tags *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/user_tags/migration *.ini *.py *.mako
recursive-include ckanext/user_tags/public *.*
